.main-services {
  width: 100%;
  background: linear-gradient(
    210deg,
    var(--accent-cool-lighter),
    var(--accent-soft-lighter-v2)
  );

  .container {
    padding-block: 8rem;

    .hero {
      width: 100%;
      display: grid;
      grid-template-columns: 4fr 3fr;

      .content-left {
        width: 100%;
        display: flex;
        flex-direction: column;

        .tag {
          font-family: var(--font-display);
          font-weight: 500;
          font-size: clamp(1.3rem, 2vw, 1.4rem);
          text-transform: uppercase;
          color: var(--accent);
          letter-spacing: 1px;
          margin-bottom: 1rem;
        }

        .main-header {
          margin-bottom: 1.5rem;

          & > h1 {
            max-width: 15ch;
            font-family: var(--font-display);
            font-weight: 400;
            line-height: 1.05;
            letter-spacing: -0.5px;

            .highlight {
              color: var(--accent);
              font-family: var(--font-accent);
              font-weight: 600;
              font-size: 7.5rem;
            }
          }
        }

        & > p {
          font-size: clamp(1.4rem, 2vw, 1.6rem);
          font-weight: 300;
          max-width: 60ch;
          line-height: 1.7;
          letter-spacing: 0.5px;
          margin-top: 1.5rem;
        }

        ul {
          margin-top: 3rem;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          li {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            font-size: clamp(1.4rem, 2vw, 1.5rem);
            font-weight: 400;
            max-width: 50ch;
            line-height: 1;

            & > svg {
              transform: translateY(.2rem);
              color: var(--accent-lighter);
              font-size: clamp(1.3rem, 2vw, 1.4rem);
            }
          }
        }

        & > span {
          font-size: clamp(1.2rem, 1.6vw, 1.3rem);
          font-weight: 400;
          max-width: 50ch;
          line-height: 1.55;
          letter-spacing: 0.5px;
          margin-top: 3rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;

          & > svg {
            color: var(--accent-lighter);
            font-size: clamp(1.3rem, 2vw, 1.6rem);
          }
        }
      }

      .content-right {
        width: 100%;

        .treatment-list {
          width: 100%;
          min-height: 40dvh;
          display: flex;
          flex-direction: column;
          background-color: var(--surface);
          padding-inline: 4rem;
          padding-block: 3rem;
          border: 1px solid var(--border);
          border-radius: 4rem;
          box-shadow: var(--shadow-lg);

          & > h4 {
            font-family: var(--font-display);
            font-weight: 400;
            font-size: clamp(2rem, 3vw, 2.1rem);
            letter-spacing: -0.1px;
          }

          & > p {
            font-size: clamp(1.4rem, 2vw, 1.5rem);
            font-weight: 300;
            max-width: 50ch;
            line-height: 1.55;
            letter-spacing: 0.5px;
          }

          .service-list {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .list {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;
              border-bottom: 1px solid var(--border);
              /*border-radius: 1.3rem;*/
              padding-block: 1.5rem;
              padding-inline: 1rem;
              padding-right: 2rem;
              transition: all 0.3s ease-in-out;

              &:hover {
                background-color: var(--accent-soft-lighter-v1);
                border-radius: 1.3rem;

                & .icon-par > p {
                  color: var(--accent);
                }
              }

              &:hover > span > svg {
                transform: translateX(0.3rem);
                color: var(--accent);
              }

              .icon-par {
                display: flex;
                align-items: center;
                gap: 1.2rem;

                .icon {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 4.5rem;
                  height: 4.5rem;
                  padding: 1.2rem;
                  background-color: var(--accent-soft-lighter-v2);
                  color: var(--accent);
                  border: 1px solid transparent;
                  border-radius: 1.5rem;

                  & > svg {
                    font-size: clamp(1.3rem, 2vw, 1.6rem);
                  }
                }

                & > p {
                  font-size: clamp(1.4rem, 2vw, 1.5rem);
                  font-weight: 400;
                  max-width: 50ch;
                  line-height: 1;
                  letter-spacing: 0.5px;
                  transition: all .3s ease-in-out;
                }
              }

              & > span {
                font-size: clamp(1.3rem, 2vw, 1.4rem);
                font-weight: 400;
                max-width: 50ch;
                line-height: 1;
                letter-spacing: 0.5px;
                display: flex;
                align-items: center;
                gap: 0.5rem;

                & > svg {
                  font-size: clamp(1.25rem, 1.5vw, 1.35rem);
                  transition: all 0.3s ease-in-out;
                }
              }
            }
          }

          .bottom-tag {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1.7rem;

            & > span {
              font-size: clamp(1.2rem, 1.5vw, 1.3rem);
              font-weight: 300;
            }

            & > p {
              font-size: clamp(1.2rem, 1.5vw, 1.35rem);
              font-weight: 500;
              color: var(--accent);
            }
          }
        }
      }
    }
  }
}
