.practice-container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 4rem;
  padding-bottom: 8rem;

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    .tag {
      font-family: var(--font-display);
      font-weight: 500;
      font-size: clamp(1.3rem, 2vw, 1.4rem);
      text-transform: uppercase;
      color: var(--accent);
      letter-spacing: 1px;
      margin-bottom: 1.5rem;
    }

    & > h2 {
      font-size: clamp(2rem, 3vw, 2.8rem);
      font-weight: 400;
      line-height: 1;
    }

    & > p {
      font-size: clamp(1.4rem, 2vw, 1.6rem);
      font-weight: 300;
      max-width: 60ch;
      line-height: 1.6;
      letter-spacing: 0.5px;
      margin-top: 1.5rem;
    }
  }

  .practices {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .box {
      width: 100%;
      padding-block: 3rem;
      padding-inline: 3rem;
      border: 1px solid var(--accent-soft-lighter);
      border-radius: 3rem;
      background-color: var(--surface);
      transition: all .3s ease-in-out;

      &:hover {
        box-shadow: var(--shadow-md-soft-darker);
        transform: translateY(-1rem);
      }

      .icon {
        width: 4.5rem;
        height: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-soft-lighter);
        border-radius: 1.5rem;
        margin-bottom: 1.5rem;

        & > svg {
          color: var(--accent);
          font-size: clamp(1.5rem, 2.5vw, 2.2rem);
        }
      }

      & > h4 {
        font-size: clamp(1.6rem, 2vw, 1.7rem);
        font-weight: 500;
        letter-spacing: .5px;
        margin-bottom: 1rem;
      }

      & > p {
        max-width: 50ch;
        font-size: clamp(1.3rem, 2vw, 1.55rem);
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: .5px;
        margin-bottom: 2rem;
      }

      & > span {
        font-size: clamp(1rem, 2vw, 1.25rem);
        font-weight: 500;
        letter-spacing: .5px;
        color: var(--accent);
      }
    }
  }
}