.lang-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  .btns {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    z-index: 1;

    & > .lang-switcher-icon {
      font-size: 2rem;
      color: var(--accent);
      cursor: pointer;
    }

    .lang-switcher-dropdown {
      position: absolute;
      top: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.2rem;
      padding: 1rem;
      border-radius: var(--radius-sm);
      background-color: white;
      z-index: 99;

      & > button {
        width: fit-content;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1.35rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: var(--accent);
          color: var(--font-text-white);
        }
      }

      & > button.active {
        background-color: var(--accent);
        color: var(--font-text-white);
      }
    }
  }
}

@media (max-width: 1024px) {
  .lang-switcher {
    flex-direction: row;

    .btns {
      .lang-switcher-icon {
        font-size: 2.5rem;
      }
      .lang-switcher-dropdown {
        flex-direction: row;
        top: -0.3rem;
        left: 2rem;
        background-color: transparent;
        padding: 0;
        padding-left: 1.5rem;

        & > button {
          font-size: 1.45rem;
        }
      }
    }
  }
}
