.for-whom-sports {
  width: 100%;

  .content {
    width: 100%;
    padding-block: 8rem;
    display: flex;
    flex-direction: column;

    .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 4rem;
  
      .tag {
        font-family: var(--font-display);
        font-weight: 500;
        font-size: clamp(1.3rem, 2vw, 1.4rem);
        text-transform: uppercase;
        color: var(--accent);
        letter-spacing: 1px;
        margin-bottom: 1.5rem;
      }
  
      & > h2 {
        font-size: clamp(2rem, 3vw, 2.8rem);
        font-weight: 400;
        line-height: 1;
      }
  
      & > p {
        font-size: clamp(1.4rem, 2vw, 1.6rem);
        font-weight: 300;
        max-width: 60ch;
        line-height: 1.6;
        letter-spacing: 0.5px;
        margin-top: 1.5rem;
      }
    }

    .medical-issues {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 5rem;

      .issues-left, .issues-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & > p {
          font-size: clamp(1.25rem, 1.5vw, 1.45rem);
          font-weight: 300;
          max-width: 60ch;
          line-height: 1.6;
          letter-spacing: 0.5px;

          & > span {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;

            & > svg {
              transform: translateY(0.2rem);
              color: var(--accent-lighter);
              font-size: clamp(1.3rem, 2vw, 1.6rem);
            }
          }
        }
      }
    }

    .boxes {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;

      .box {
        width: 100%;
        padding-inline: 3rem;
        padding-block: 3rem;
        background-color: var(--surface);
        border: 1px solid var(--border-greenish);
        border-radius: 2rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          box-shadow: var(--shadow-md-soft-darker);
          transform: translateY(-1rem);
        }

        .icon {
          width: 4rem;
          height: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--accent-soft);
          border-radius: 1.2rem;
          margin-bottom: 1.5rem;

          & > svg {
            color: var(--accent);
            font-size: clamp(1.8rem, 2.5vw, 2.2rem);
          }
        }

        & > h4 {
          font-size: clamp(1.45rem, 2vw, 1.6rem);
          font-weight: 500;
          letter-spacing: 0.5px;
          margin-bottom: 1rem;
        }

        & > p {
          max-width: 50ch;
          font-size: clamp(1.3rem, 2vw, 1.4rem);
          font-weight: 300;
          line-height: 1.5;
          letter-spacing: 0.5px;
          margin-bottom: 2rem;
        }

        & > span {
          font-size: clamp(1.15rem, 2vw, 1.25rem);
          font-weight: 500;
          letter-spacing: 0.5px;
          color: var(--accent);
        }
      }
    }
  }
}


/* ============ RESPONSIVE ============ */
@media (max-width: 1024px) {
  .for-whom-manual {
    .content {
      padding-block: 6rem;
      padding-inline: 3rem;

      .boxes {
        .box {
          padding-inline: 2rem;
          padding-block: 2.5rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .for-whom-sports {
    .content {
      .medical-issues {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-bottom: 4rem;
      }

      .boxes {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 480px) {
  .for-whom-sports {
    .content {
      padding-block: 4rem;
      padding-inline: 1rem;
      .medical-issues {
        grid-template-columns: 1fr;
      }

      .header {
        margin-bottom: 3rem;
      }

      .boxes {
        grid-template-columns: 1fr;
      }
    }
  }
}